
    @model IEnumerable<danywaffle.Domain.Category>
    @{
        ViewBag.Title = "Kategoriler";
    }
<main>
    <section>
    <h4 class="border-bottom">Kategoriler</h4>
    <div class="d-flex justify-content-end">
    </div>
    <table class="table table-striped table-bordered">
        <colgroup>
            <col />
            <col width="200" />
        </colgroup>
        <thead>
            <tr>
                <th>
                    Kategoriler
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                    </td>
                </tr>

            }


        </tbody>
        <tfoot>

        </tfoot>
    </table>
</section>
</main>