@{ViewBag.Title = "Hakkımızda:";
}
<h2>Hakkımızda</h2>
<h3>
    Mis Kokulu Tatlı : Waffle  Pişerken yaydığı güzel kokusuyla insanı cezbeden bir hamur tatlısı waffle. Tost makinasına benzeyen özel bir aletle pişirilen, Avrupa ve Amerika'da yaygın olarak tüketilen "waffle", son yıllarda ülkemizde de en tercih edilen tatlılardan biri haline geldi. Çeşitli meyveler, eritilmiş çikolata, yemiş, dondurma ve pudra şekeri kullanılarak tüketilen bu lezzetli tatlıya, çocuklar kadar yetişkinlerde karşı koymakta zorlanıyor.  Afiyet Olsun...
</h3>