<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v4.7.8, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="~/assets/images/logo1.jpg" type="image/x-icon">
    <meta name="description" content="">
    <title>@ViewBag.Title Dany Waffle</title>
    <link rel="stylesheet" href="~/assets/web/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="~/assets/tether/tether.min.css">
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="~/assets/dropdown/css/style.css">
    <link rel="stylesheet" href="~/assets/socicon/css/styles.css">
    <link rel="stylesheet" href="~/assets/theme/css/style.css">
    <link rel="stylesheet" href="~/assets/mobirise/css/mbr-additional.css" type="text/css">


</head>
<body class="d-flex flex-column min-vh-100">
    <main>

        <section class="engine"><a href="https://mobirise.me/a">Mobirise review</a></section>
        <section class="header5 cid-uqm1pqTxH1 mbr-fullscreen mbr-parallax-background" id="header5-3"
                 style="z-index: 0; position: relative; background-image: url('https://api.vmuzey.com/static/event/E094788919300/068863d6f73dbb57-w820-h440.jpg'); background-attachment: scroll; background-size: auto;"
                 data-jarallax-original-styles="margin-bottom: 306px;"
                 >



            <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);">
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="mbr-white col-md-10">
                        <h1 class="mbr-section-title align-center pb-3 mbr-fonts-style display-1"><strong>Dany Waffle sayfasına Hoş Geldiniz!</strong></h1>
                        <p class="mbr-text align-center display-5 pb-3 mbr-fonts-style"><strong>Size bir-birinden tatlı ve güzel waffle seçenekleri sunuyoruz</strong></p>

                    </div>
                </div>
            </div>
            </section>
    </main>

    <script src="~/assets/web/assets/jquery/jquery.min.js"></script>
    <script src="~/assets/popper/popper.min.js"></script>
    <script src="~/assets/tether/tether.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/smoothscroll/smooth-scroll.js"></script>
    <script src="~/assets/dropdown/js/script.min.js"></script>
    <script src="~/assets/touchswipe/jquery.touch-swipe.min.js"></script>
    <script src="~/assets/theme/js/script.js"></script>
</body>



</html>